pyrogram
tgcrypto
git+https://github.com/pyrogram/pyrogram@master
py-tgcalls==0.5.5
python-dotenv
yt_dlp
youtube_search_python==1.4.6
requests
aiohttp
aiofiles
pafy==0.5.5
asyncio
youtube_search
search_engine_parser
future
ffmpeg-python
Pillow
pyaml
psutil
yt-dlp
youtube-dl
bs4
psutil
wget
python-arq
httpx==0.13.3
heroku3
motor
gitpython
pykeyboard
telegraph
dnspython
speedtest-cli
